body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#todolist li{
  margin: 2%;
}
select{
  margin: 2%;
}
.red{
  background: #ff6666;
}

.green{
  background: #66ff66;
}
.blue{
  background: #668cff;
}
.purpure{
  background: #d98cd9;
}
.yellow{
  background:#ffff66;
}
.true{
  text-decoration: line-through;
  text-decoration-color: aqua;
}