body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cccccc45;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#todolist li{
  margin-bottom: 2%;
  list-style-type: none;
}
.margins{
  margin-left: 4%;
}
#main a {
  color: white;
  text-decoration: none;
}
#main h1{
  margin-left: 3%;
}

#main .create_cont{
  padding: 1%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
#main .nav_cont{
  width: 50%;
  margin: auto;
}
#main .red{
  background-color: #ff6666;
}

#main .green{
  background: #66ff66;
}
#main .blue{
  background: #668cff;
}
#main .purpure{
  background: #d98cd9;
}
#main .yellow{
  background:#ffff66;
}
#main .todo_select {
  width: 200px;
}

.true{
  text-decoration: line-through;
  text-decoration-color:black;
}
